@using Thinktecture.IdentityServer.Web.App_LocalResources.Home
@using Thinktecture.IdentityServer.Web.Utility
@{
    ViewBag.Title = ViewBag.SiteName;
}

<h2>@string.Format(Index_cshtml.WelcomeToSite, ViewBag.SiteName)</h2>

<p>
    @Html.ActionLink(Index_cshtml.ViewWsFederationMetadata, "Generate", "FederationMetadata")
</p>

<p>
	@Html.ActionLink(Index_cshtml.ApplicationIntegration, "appintegration", "home")
</p>

@{
	// HACKERY HACK: it redirects to last used RP 
	this.Response.Redirect(Html.RelyingParty(""));
}