/*! jQuery UI - v1.10.3 - 2013-08-24
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.autocomplete.css, jquery.ui.menu.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-menu {
	list-style: none;
	display: block;
	outline: none;	
	background: #fff; 
	margin:0;
	border: solid 1px #cccccc;
}

.ui-menu .ui-menu {	
	position: absolute;
}

.ui-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent white transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 99;
}

.ui-menu:after {
    content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 7px;
	border-color: transparent transparent #cccccc transparent;
	border-bottom-style: solid;
	position: absolute;
	top: -14px;
	left: 9px;
	z-index: 98;
}



.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;

	.ui-state-focus {
		background: #eeeeee;
	}
	:hover {
		background: #eeeeee;
	}
}

.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	font-size: 0.95em;
	cursor: pointer;
	line-height: 1.9em;
	margin: 0;
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
	color: #000; 
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	//margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}

/*
.ui-autocomplete {
	background-color: white;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	display: block;
	color: #000; 
	font-size: 0.875em;
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
*/

///*@font-face {
//	font-family: 'Arvo';
//	font-style: normal;
//	font-weight: 400;
//	src: url('fonts/Arvo-Regular.eot');
//	src: local('☺'), 
//		url('/Cms_Data/Sites/Bringsy/Themes/Default/fonts/Arvo-Regular.eot?#iefix') format('embedded-opentype'),
//		url('/Cms_Data/Sites/Bringsy/Themes/Default/fonts/Arvo-Regular.woff') format('woff'), 
//		url('/Cms_Data/Sites/Bringsy/Themes/Default/fonts/Arvo-Regular.ttf') format('truetype'), 
//		url('/Cms_Data/Sites/Bringsy/Themes/Default/fonts/Arvo-Regular.svg#Arvo-Regular') format('svg');
//}
//
//@media screen and (-webkit-min-device-pixel-ratio: 0) {
//    @font-face {
//        font-family: 'Arvo';
//        src: url('/Cms_Data/Sites/Bringsy/Themes/Default/fonts/Arvo-Regular.svg#Arvo-Regular') format('svg');
//    }
//}*/

/* main color schema */ 
$accent-color: #FF3A3B; 
$accent-color-2: #FF3A3B; 
$accent-color-3: #FF3A3B; 

/* footer */
$footer-bg-color: #ddd;
$footer-bg-color-dark: #2C2C2C;  

p.chromeframe {
	text-align:center; 
	padding:2em 0px 1em 0px;
	font-size:2em; 
}

/* layout  */	
html, body {
	height: 100%;
	margin: 0pt;
}

body {
	display: table;
	width: 100%;
}

html>/**/body body {
	height: 100%;
}

#header, #content, #footer {
	display: table-row;
	height: 1px;
	overflow: hidden;
}

html>body #content {
	height: 100%;
}

form {
	margin-bottom: 0px;
}

input[type="text"], input[type="password"], button { outline: none; }

/* layout end */

/* top bar */
#header {	
    height: 75px;

    .contain-to-grid {	
		padding-bottom: 2em;  
	    height: 56px; 
	    position:fixed; 
	    z-index:999;
	    box-shadow: 0px 0px 10px #000000;
		filter: dropshadow(color=#000000, offx=0, offy=0);
	    border-bottom: 1px solid darken($topbar-bg, 10%); 

        .top-bar {
		//	height: 55px; 
		
			.toggle-topbar.menu-icon a {
				text-indent: -55px;
			}

	        .title-area .name a {
		        background: url(images/logo.png) no-repeat .5em 7px;
		        width: 163px;
		        height:52px;
		        text-indent:-999999px;
	        }
	    }
    }
}

/* top bar end */

.sub-info {
	font-size: .7em; 
}

/* footer */

#footer {
    > div {
        color: lighten($footer-bg-color-dark, 35%);  
		background:  url('images/opacity_75.png');
        border-top: 1px solid darken($footer-bg-color, 5%);
		border-color: lighten($footer-bg-color-dark, 5%);  
        padding-top:1em; 
        margin-top:1em;
		
		.columns { 
			.sub-info {
	            font-size: 1em; 
            }
			font-size: .8em !important; 
		}
    }

    h5, a:hover, hr {
        color: lighten($footer-bg-color-dark, 35%); 
    }

    a {
        color: lighten($footer-bg-color-dark, 30%); 
    }

	ul {
        list-style:none;
    }

    hr {
		margin-bottom: 0px;
        border-color: lighten($footer-bg-color-dark, 10%);
    }
	
}

/* footer end */

/* foundation mvc */
.input-validation-error, 
input.input-validation-error, 
textarea.input-validation-error {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
}

.field-validation-error {
    display: block;
    padding: 6px 4px;
    margin-top: -13px;
    margin-bottom: 12px;
    background: #c60f13;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/* foundation mvc */

/* lazy images */
img.lazy {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
}

img.lazy.loaded {
    opacity: 1;
}
/* lazy images end */

/* swapping buttons */
.button {
    .large {
        display: block;
    }
    .small {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .button {
        .large {
            display: none;
        }
        .small {
            display: block;
        }
    }
}
/* swapping buttons end */

/* kooboo */
.kb-field-empty { display:none!important; }

#global-nav h4, .top-bar { 
    font-family: $header-font-family !important; 
}

/*
.fb-like-box { margin-left: -0.5em; }
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.center-cropped {
    width: 100px;  // change to desired width.
    height: 100px; // change to desired height.
    background-position: center center;
    overflow: hidden;
	background-size: cover;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;

   /* IE 8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
    filter: alpha(opacity=0);
   /* modern browsers */
    opacity: 0;
}


li {
	list-style-position: inside !important; 
}


.page-home {
	h1, h2 {
		text-align:center; 
		color: #fff; 
		text-shadow: 0px 0px 20px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=0);
		padding: 0em .5em 0em .25em;
	}

	.product-teaser {
		margin-bottom: 1.5em; 
	}
}

.content-panel {
	margin-top:1em; 
    background: #fff; /* Fall-back for browsers that don't support rgba */
    width: 100%; 
    height: 100%; 
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; 
}

/* product view */

/* Loading
----------------------------------------------------------*/

body.loading {
	// overflow: hidden;
}

body.loading .block.loading {
	display: block;
}

.block.loading {
	display: none;
}

.block.loading .layer {
	background: #FFF;
	bottom: 0;
	filter: alpha(opacity=50);
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5000;
}

.block.loading .wrap {
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -200px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 400px;
	z-index: 5001;
}

.block.loading .wrap span {
	display: block;
	font-family: "Segoe UI Light", "Helvetica Neue", openSansLight, Arial, Helvetica, sans-serif;
	font-size: 30px;
}

/* Notification
----------------------------------------------------------*/
.block.toast {
	background: #5BA52E;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #FFF;
	min-height: 80px;
	padding: 10px 30px 10px 10px;
	position: fixed;
	right: -25%;
	top: 80px;
	z-index: 6000;
	width: 25%;
}

.block.toast.error {
	background: #D32B28;
}

.block.toast a.close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 6001;
}

img.icon.close {
	background-position: -34px -105px;
	height: 14px;
	width: 14px;
}

img.icon {
	background: url(/styles/images/icons.png) no-repeat -999em -999em;
	display: block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.page-terms ul { list-style: none;	}
.page-terms p { text-align: justify; }
a.anchor {display: block; position: relative; top: -70px;}

.shareaholic-share-buttons-container.mini li.shareaholic-share-button {
	width: 30px !important; 
}

.shareaholic-share-buttons-container.mini li.shareaholic-share-button.has-shares {
	width: 56px !important; 
}


.validation-summary-valid {
	display: none; 
}

.validation-summary ul {
margin-bottom: 0; 
}
